#AudioVisualizerWrapper {
  background: linear-gradient(218deg, #010122, #15181f, #1d2f3b, #030f17);
  background-size: 400% 400%;
  animation: gradient 60s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
